@use 'pallote-css/styles/common/variables';
@use 'pallote-css/styles/common/mixins';
@use 'pallote-css/styles/utilities/text';

// if changing any of this values you need to also change them in docs.scss
[class*="generatedIndexPage_"] {

  header {

    h1 {
      margin-bottom: 1rem;
    }

    p {
      @extend %subtitle;
      margin-bottom: 2.5rem;
    }
  }
}

[class*="list_"].row {
  margin: 0;
  gap: 1rem;

  article.col {
    padding: 0;
    margin-bottom: 0 !important;
    max-width: unset;
    flex: initial;
    
    @include mixins.responsive(up, mobile) {
      width: calc(50% - .5rem);
    }
  }

  .card {
    border-radius: variables.$border-radius-md;
  }
}
