@use 'pallote-css/styles/common/variables';

.coverExamples {
  position: absolute;
  top: 2rem;
  right: 0;
  min-width: 600px;
  transform: scale(.8);
  transform-origin: top right;

  .flex {
    flex-wrap: nowrap;
  }

  ~ .section_header {
    position: relative; // need for index
    pointer-events: none;
  }
}
