.cookie {
  z-index: 10;

  &.section {
    @include transition($transition-md, transform);
    position: fixed;
    inset-block-end: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    display: none;
    background-color: $background-default;
    text-align: left;
    
    .section_container {
      padding-block-start: 10px;
      padding-block-end: 9px;
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: flex-start;
    }
  }

  &.js-cookie-accepted {
    @include transition($transition-md, transform);
    transform: translateY(100%);
  }

  &_text {
    width: 100%;
    display: inline;
    margin-inline-end: .25rem;
  }

  .link {
    flex-basis: 0;
  }
}
