@use 'pallote-css/styles/common/variables';
@use 'pallote-css/styles/utilities/text';

.theme-doc-breadcrumbs {
  margin-bottom: .5rem;
}

.breadcrumbs {
  display: flex;
  align-items: baseline;
  margin-top: 2rem;
}

.breadcrumbs__item {
  text-transform: variables.$button-transform;
  font-weight: variables.$button-weight;
  font-size: variables.$button-sm-size;
  margin-left: 0;
  padding: 0;
  
  &:before {
    transform: translateY(1px);
  }

  &:first-child a {

    &:before { content: "Home"; }
    svg { display: none; }
  }

  &:not(:first-child) {
    margin-left: .25rem;
    
    &:before {
      @extend %caption;
      content: "/";
      margin-right: .25rem;
      color: variables.$text-alt;
      display: inline-block; // required to remove underline on hover for before element
      font-weight: variables.$weight-bold;
      transform: translateY(0px)
    }
  }
}

.breadcrumbs__link {
  @extend %caption;
  font-weight: variables.$weight-bold;
  border-radius: variables.$border-radius-sm;
  padding: 0;

  &:hover {
    color: inherit;
  }
}

.breadcrumbs__link:any-link:hover {
  background: none;
  text-decoration: underline;
}

.breadcrumbs__item--active .breadcrumbs__link {
  background: none;
  color: variables.$primary;
}

.breadcrumbs__item:not(:last-child):after {
  display: none;
}

.docs_block .breadcrumbs {
  margin-top: 0;

  ol {
    padding-left: 0;
    margin-bottom: 0;
  }

  li {
    padding-top: 0;
    margin-top: 0;
  }

  p {
    margin-top: 0;
  }
}