@use 'pallote-css/styles/common/variables';

@use 'pallote-css/styles/utilities/text';

.card {

  &.padding--lg {
    padding: 1.5rem !important;
    border-radius: variables.$border-radius-lg;
  }

  h2 {
    @extend %h6;
    margin-bottom: .5rem;
    overflow-x: hidden;
    text-indent: -23px;
    color: variables.$primary;
  }

  p {
    @extend %body;
  }
}
.card[class*="cardContainer_"] {
  box-shadow: none;
  border: variables.$border;
  
  &:hover {
    box-shadow: none;
    border-color: variables.$primary !important;
    color: inherit;
    
    h2 {
      text-decoration: underline;
    }
  }
}
