@use 'pallote-css/styles/common/variables';

// —————————————————————————————————————————————————————————————————
// elements
// content
// override in docs_block
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// elements
// —————————————————————————————————————————————————————————————————

.tabs-container {
  border: variables.$border;
  background-color: variables.$background-paper;
  border-radius: variables.$border-radius-md;
  overflow: hidden;

  .tabs {
    border-bottom: variables.$border;
    overflow: visible;
  }

  [role="tabpanel"][hidden] {
    display: none;
  }

  .margin-top--md {
    margin-top: 0 !important;
    padding: 1rem;
  }
}

.tabs__item {
  margin-left: 0;
  padding: .5rem 1rem;

  &:hover,
  &--active {
    background-color: transparent;
  }

  &:hover:not(.tabs__item--active) {
    text-decoration: underline;
    text-underline-offset: .15em;
  }
  
  &--active {
    border-color: variables.$primary;
  }
}

// —————————————————————————————————————————————————————————————————
// content
// —————————————————————————————————————————————————————————————————

[role="tabpanel"] {

  p + [class*="codeBlockContainer"] {
    margin-top: 1rem;
  }

  [class*="codeBlockContainer"] {
    border-radius: variables.$border-radius-sm;
  }
}

// —————————————————————————————————————————————————————————————————
// override in docs_block
// —————————————————————————————————————————————————————————————————

.docs_block {

  .tabs {
    color: inherit;
    font-weight: inherit;
    overflow-x: initial;

    &:not(.tabs-landscape) {
      display: initial;
    }
  }
}
