// common
@use 'styles/common/variables';
@use 'styles/common/mixins';
@use 'styles/common/reset';
@use 'styles/common/editor';
// @use 'styles/common/fontface';
@use 'styles/common/global';
// utilities
@use 'styles/utilities/color';
@use 'styles/utilities/global' as global2;
@use 'styles/utilities/grid';
@use 'styles/utilities/text';
// components
@use 'styles/components/accordion';
@use 'styles/components/alert';
@use 'styles/components/breadcrumbs';
@use 'styles/components/button';
@use 'styles/components/buttons';
@use 'styles/components/card';
@use 'styles/components/datatable';
@use 'styles/components/chip';
@use 'styles/components/divider';
@use 'styles/components/form';
@use 'styles/components/input';
@use 'styles/components/link';
@use 'styles/components/list';
@use 'styles/components/nav';
@use 'styles/components/navbar';
@use 'styles/components/page';
@use 'styles/components/section';
@use 'styles/components/sidebar';
@use 'styles/components/snippet';
@use 'styles/components/status';
@use 'styles/components/stepper';
@use 'styles/components/switch';
@use 'styles/components/tabs';
@use 'styles/components/table';
@use 'styles/components/tag';
@use 'styles/components/tooltip';

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
