@use 'pallote-css/styles/common/variables';
@use 'pallote-css/styles/common/mixins';
@use 'pallote-css/styles/utilities/text';

.main-wrapper {
  min-height: 100vh;
  padding-block-start: variables.$navbar-height !important;
}

// container

.container {
  @include mixins.clamp(padding-inline-end, 1rem, 4vw, 4rem);
  padding-block-start: 0 !important;
  padding-block-end: 0 !important;
  padding-inline-start: 2rem;
  
  @include mixins.responsive(down, 996.98px) {
    @include mixins.clamp(padding-inline-start, 1rem, 4vw, 4rem);
  }

  @include mixins.responsive(up, 997px) {

    > .row {
      margin: 0 -2rem;
      
      > .col:not(.col--3) {
        padding: 0 2rem;
      }
      
      > .col--3 {
        padding-block-start: 2rem;
        padding-inline-end: 2rem;
      }
    }
  }
}
