@use "../common/variables";

// —————————————————————————————————————————————————————————————————
// elements
// direction
// size
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// elements
// —————————————————————————————————————————————————————————————————

.divider {
  display: inline-block;
  background-color: variables.$border-color;
  height: 1px;
  width: 100%;
}

// —————————————————————————————————————————————————————————————————
// direction
// —————————————————————————————————————————————————————————————————

.divider {

  &-portrait {
    height: 100%;
    width: 1px;
  }
}

// —————————————————————————————————————————————————————————————————
// size
// —————————————————————————————————————————————————————————————————

@mixin divider-size($size) {
  margin-top: $size;
  margin-bottom: $size;

  &.divider-portrait {
    margin-top: 0;
    margin-right: $size;
    margin-bottom: 0;
    margin-left: $size;
  }
}

.divider {
  @include divider-size(1rem);
  &-sm { @include divider-size(.5rem); }
  &-lg { @include divider-size(2rem); }
}
