@use "../common/mixins";
@use "../common/variables";

// —————————————————————————————————————————————————————————————————
// elements
// wrap
// direction
// justifyContent
// alignItems
// alignSelf
// spacing and width
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// elements
// —————————————————————————————————————————————————————————————————

.grid,
.grid_item {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
}

// —————————————————————————————————————————————————————————————————
// wrap
// —————————————————————————————————————————————————————————————————

// have children wrap automatically
.grid-wrap {
  justify-content: center;

  > .grid_item {
    flex: 1 0 0;

    > * {
      width: 100%;
    }
  }
}

// —————————————————————————————————————————————————————————————————
// direction
// —————————————————————————————————————————————————————————————————

.grid-column { flex-direction: column; }
.grid-columnReverse { flex-direction: column-reverse; }
.grid-row { flex-direction: row; flex-wrap: wrap; }
.grid-rowReverse { flex-direction: row-reverse; flex-wrap: wrap; }

// —————————————————————————————————————————————————————————————————
// justifyContent
// —————————————————————————————————————————————————————————————————

.grid-jc-center { justify-content: center;}
.grid-jc-end { justify-content: flex-end;}
.grid-jc-start { justify-content: flex-start;}
.grid-jc-spaceAround { justify-content: space-around;}
.grid-jc-spaceBetween { justify-content: space-between;}
.grid-jc-spaceEvenly { justify-content: space-evenly;}

// —————————————————————————————————————————————————————————————————
// alignItems
// —————————————————————————————————————————————————————————————————

.grid-ai-stretch { align-items: stretch; }
.grid-ai-center { align-items: center; }
.grid-ai-end { align-items: flex-end; }
.grid-ai-start { align-items: flex-start; }
.grid-ai-baseline { align-items: baseline; }

// —————————————————————————————————————————————————————————————————
// alignSelf
// —————————————————————————————————————————————————————————————————

.grid-as-stretch { align-self: stretch; }
.grid-as-center { align-self: center; }
.grid-as-end { align-self: flex-end; }
.grid-as-start { align-self: flex-start; }
.grid-as-baseline { align-self: baseline; }

// —————————————————————————————————————————————————————————————————
// spacing and width
// —————————————————————————————————————————————————————————————————

$columns: 12;
$breakpoints: (
  xs: mobile-sm,
  sm: mobile,
  md: tablet,
  lg: laptop,
  xl: desktop
);

@for $i from 1 through $columns {
  .grid_item-#{$i} {
    width: variables.$col * $i;
  }
}

[class*="grid-spacing"],
[class*="grid_item-xs"],
[class*="grid_item-sm"],
[class*="grid_item-md"],
[class*="grid_item-lg"],
[class*="grid_item-xl"] {
  width: 100%;
}

@for $i from 1 through $columns {
  .grid-spacing-#{$i} {
    gap: #{$i * .25}rem;
    
    @for $j from 1 through $columns {
      > .grid_item-#{$j} {
        width: calc((variables.$col * $j) - (#{$i * .25}rem * (($columns / $j - 1) / ($columns / $j))));
      }
    }

    @each $suffix, $breakpoint in $breakpoints {
      @include mixins.responsive(up, $breakpoint) {
        @for $j from 1 through $columns {
          > .grid_item-#{$suffix}-#{$j} {
            width: calc((variables.$col * $j) - (#{$i * .25}rem * (($columns / $j - 1) / ($columns / $j))));
          }
        }
      }
    }
  }
}
