// —————————————————————————————————————————————————————————————————
// elements
// withSidebar
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// elements
// —————————————————————————————————————————————————————————————————

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  &_content {
    width: 100%;
  }
}

// —————————————————————————————————————————————————————————————————
// withSidebar
// —————————————————————————————————————————————————————————————————

.page-withSidebar {

  .page_container {
    display: flex;
  }

  .section_container {
    max-width: none;
  }
}
