@use '../common/variables';
@use '../utilities/text';

// —————————————————————————————————————————————————————————————————
// elements
// default
// dense
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// elements
// —————————————————————————————————————————————————————————————————

.snippet {
  @extend %caption;
  font-family: "Roboto Mono", Courier, monospace;
  word-wrap: break-word;
  width: 100%;
  position: relative;
  border-radius: variables.$border-radius-sm;
  margin: 0;
  padding: .5rem .75rem;
  background-color: variables.$hover;
  border: variables.$border;
  
  & + & {
    margin-top: .5rem;
  }

  p > & {
    margin-right: .25rem;
    margin-left: .25rem;
  }

  .tag {
    font-family: variables.$font, variables.$font-fallback;
    float: right;
    margin-top: 1px;
    margin-right: -.25rem;
  }
}

// —————————————————————————————————————————————————————————————————
// default
// —————————————————————————————————————————————————————————————————

.snippet-default {

  &:after {
    @extend %overline;
    content: "Default";
    font-family: variables.$font, variables.$font-fallback;
    float: right;
    margin-top: 1px;
    margin-right: -.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: variables.$font-bold;
    border-radius: variables.$border-radius-sm;
    white-space: nowrap; // prevent text to go on multiple lines
    position: absolute;
    top: .5rem;
    right: .75rem;
    height: 1rem;
    padding-right: .25rem;
    padding-left: .25rem;
    padding-bottom: 0.1em;
    background-color: variables.$text-disabled;
  }
}

// —————————————————————————————————————————————————————————————————
// dense
// —————————————————————————————————————————————————————————————————

.snippet-dense {
  @extend %overline;
  padding: .25rem .5rem !important;

  &.snippet-default:after {
    top: .25rem;
    right: .5rem;
  }
}
