@use '../common/variables';
@use '../utilities/text';

// —————————————————————————————————————————————————————————————————
// elements
// active
// direction
// dense
// hasBorder
// —————————————————————————————————————————————————————————————————

$spacing: 1rem;
$spacing-dense: .5rem;

// —————————————————————————————————————————————————————————————————
// elements
// —————————————————————————————————————————————————————————————————

.tabs {
  width: 100%;

  &_controls {
    display: flex;
    width: 100%;
    border-bottom: variables.$border;
  }

  &_panel {
    margin-top: $spacing;
  }
}

.tab {
  position: relative;
  cursor: pointer;
  padding: $spacing*.5 $spacing;
  border-top-left-radius: variables.$border-radius-md;
  border-top-right-radius: variables.$border-radius-md;
  font-weight: variables.$font-bold;
  font-size: variables.$caption-size;

  &:not(.tab-active):hover {
    text-decoration: underline;
    text-underline-offset: .15em;
  }
  
  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -1px;
    left: 0;
    height: 3px;
  }
}

// —————————————————————————————————————————————————————————————————
// active
// —————————————————————————————————————————————————————————————————

.tab-active {
  color: variables.$primary;

  &:after {
    background-color: variables.$primary;
  }
}

// —————————————————————————————————————————————————————————————————
// direction
// —————————————————————————————————————————————————————————————————

.tabs-landscape {
  display: flex;

  .tabs {

    &_controls {
      flex-direction: column;
      width: 10rem;
      border-bottom: 0;
      border-right: variables.$border;
    }

    &_panel {
      margin-top: 0;
      margin-left: $spacing;
    }
  }

  .tab {
    text-align: left;
    border-top-left-radius: variables.$border-radius-sm;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: variables.$border-radius-sm;
      
    &:after {
      top: 0;
      right: -1px;
      left: auto;
      height: 100%;
      width: 3px;
    }
  }
}

// —————————————————————————————————————————————————————————————————
// dense
// —————————————————————————————————————————————————————————————————

.tabs-dense {
  
  .tabs_panel {
    margin-top: $spacing-dense;
  }  

  .tab {
    padding: $spacing-dense*.5 $spacing-dense;
    border-top-left-radius: variables.$border-radius-sm;
    border-top-right-radius: variables.$border-radius-sm;
  }
}

// —————————————————————————————————————————————————————————————————
// hasBorder
// —————————————————————————————————————————————————————————————————

.tabs-hasBorder {
  border: variables.$border;
  background: variables.$background-paper;
  border-radius: variables.$border-radius-md;
  
  .tabs_panel {
    margin-top: 0;
    margin-left: 0;
    padding: $spacing;
  }
  
  &.tabs-dense {
    border-radius: variables.$border-radius-sm;
    
    .tabs_panel {
      padding: $spacing-dense;
    }
  }
}
